header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1vmax;
    transition: 0.5s;
}


a:hover {
    color: #403fe9;
    transition: 0.5s;
    font-size: 1.2vmax;
}

header .container .header__inner .header__logo {
    font-size: 30px;
    font-weight: bold;
}

header {
    background-color: #f3eeed;
    border-radius: 5px;
    margin: 20px;
}

header .container {
    height: 40px;
}

body {
    font-family: 'Tahoma', sans-serif;
    background: linear-gradient(darkseagreen, darkslategray);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav__link {
    display: block;
    padding: 10px;
    border-radius: 5px;
}

#content {
    margin: 20px;
    background-color: #f3eeed;
    padding: 20px;
    border-radius: 5px;
}

footer {
    margin: 20px;
    background-color: #f3eeed;
    padding: 20px;
    border-radius: 5px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.right-img-align {
    float: right;
    padding: 10px;
}

table, tr, td, th {
    border: 1px solid #333;
    text-align: center;
    padding: 5px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 10px;
    overflow-x:auto;
}

table tbody tr:nth-child(odd){
	background: #fff;
}

table tbody tr:nth-child(even){
	background: #F7F7F7;

}

.table-container {
    display: flex;
}

.many-tables-container{
    display: flex;
    flex-wrap: wrap;
    -ms-flex-align: end;
    column-gap: 150px;
}
